global:
  scrape_interval: 15s

scrape_configs:
   {% for target in inventory %}

  - job_name: '{{ target }}'
    scheme: http
    scrape_interval: 5s
    static_configs:
      - targets:  {{ inventory[target] }}

  {% endfor %}

  - job_name: 'prod_app_blackbox'
    metrics_path: /probe
    params:
      module:
      - http_2xx
    relabel_configs:
    - source_labels:
      - __address__
      target_label: __param_target
    - source_labels:
      - __param_target
      target_label: instance
    - replacement: www.monitoring.rusabb-diploma.ru:9115
      target_label: __address__
    static_configs:
    - targets:  ['www.rusabb-diploma.ru:8080']

  - job_name: 'test_app_blackbox'
    metrics_path: /probe
    params:
      module:
      - http_2xx
    relabel_configs:
    - source_labels:
      - __address__
      target_label: __param_target
    - source_labels:
      - __param_target
      target_label: instance
    - replacement: www.monitoring.rusabb-diploma.ru:9115
      target_label: __address__
    static_configs:
    - targets:  ['www.test.rusabb-diploma.ru:8080']
